
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-list fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.activecategorycount </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Personel Sayısı</p>
                    <h6 class="mb-0">@ViewBag.activeemployeecount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Daire Sayısı</p>
                    <h6 class="mb-0">@ViewBag.apartmentcount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-university fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kira Fiyatı</p>
                    <h6 class="mb-0"> @ViewBag.aveRageProductPriceByRent ₺</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-exclamation fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Türü Satılık Olan İlanların Ort Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.AveRageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bed fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Oda Sayısı</p>
                    <h6 class="mb-0">@ViewBag.AverageRoomCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-list-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.CategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-info fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla Ürüne Sahip Kategori</p>
                    <h6 class="mb-0">@ViewBag.CategoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-globe fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla İlanı Olan Şehir</p>
                    <h6 class="mb-0">@ViewBag.CityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Kaç Farklı Şehirde İlan Var</p>
                    <h6 class="mb-0">@ViewBag.DiffrentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Üstünde En Fazla İlan Olan Personel</p>
                    <h6 class="mb-0">@ViewBag.EmpolyeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-superscript fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Pahalı İlan</p>
                    <h6 class="mb-0">@ViewBag.LastProductPrice ₺</h6>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-certificate fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Bina Yapım Yılı</p>
                    <h6 class="mb-0">@ViewBag.NewestBuildYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-times fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pasif Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.PassiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-eye fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam İlan Sayısı</p>
                    <h6 class="mb-0">@ViewBag.ProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bullhorn fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Devam Eden Projeler</p>
                    <h6 class="mb-0">14</h6>
                </div>
            </div>
        </div>
    </div>
</div>

